# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.uxf*
*.log*
node_modules/

# Собранные файлы (допишите самостоятельно)
build/
